{%extends 'etudiant/index.html'%}
{%block content%}
<h1 style="margin: 20px; text-align: center;">Bienvenue dans la page de gestion des etudiants</h1>
<table class="table" style="margin-top: 10px;">
    <thead>
      <tr>       
        <th scope="col"> code permanent</th>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Addresse</th>
        <th scope="col">Image</th>
        <th scope="col">date de naissance</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
        {%for etu in etudiants%} 
        <tr>
          <th><button type="button" class="btn btn-dark">{{etu.code_permanent}}</button></th>
          <th>{{etu.prenom}}</th>
          <th>{{etu.nom}}</th>
          <th>{{etu.addresse}}</th>
          <th>{{etu.image}}</th>        
          <th>{{etu.date_de_naissance}}</th>
          <th><a  class="btn btn-primary" href="{% url 'modifier_etude' etu.id %}" role="button">Modifier</a></th>
          <th><a  class="btn btn-danger" href="{% url 'supprimer_etude' etu.id %}" role="button">Supprimer</a></th>
        </tr>
        {%endfor%}
      </tbody> 
 </table> 
 <a  class="btn btn-success" href="{% url 'ajout_etudiant' %}" role="button">Ajouter un etudiant</a>
{%endblock%}